@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body::before{
    display: block;
    content: '';
    height: 50px;
}
.pf{
    width: 2em;
}
ul>li{
    list-style: none;
}
.title{
    font-family: 'Pacifico', cursive;
    margin-left: 1em;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
    .news-inputs{
        width: 40%;
    }
}