@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body::before{
    display: block;
    content: '';
    height: 50px;
}
.pf{
    width: 2em;
}
ul>li{
    list-style: none;
}
.title{
    font-family: 'Pacifico', cursive;
    margin-left: 1em;
}
.profile{
    width: 12em;
}
.post{
    font-family: 'Pacifico', cursive;
}
.col-sm{
    position: relative;
}

.img-caption{
    position: absolute;
    top: 0em;
    left: 0.5em;
    width: 96%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    opacity: 0;
}
.img-caption:hover{
    opacity: 1;
}
a{
    text-decoration: none;
}



@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
    .news-inputs{
        width: 40%;
    }
    .profile{
        width: 15em;
    }
    .img-caption{
        position: absolute;
        top: 0em;
        left: 0.5em;
        width: 96%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.6);
        opacity: 0;
        transition: opacity 0.25s;
    }
    .img-caption:hover{
        opacity: 1;
    }
}